body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
    display: grid;
  /* grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas: "header header header header header header header header"
  "sidebar sidebar nav nav nav nav nav nav"
  "sidebar sidebar article article article article article article"
  "sidebar sidebar article article article article article article"
  "sidebar sidebar article article article article article article"
  "sidebar sidebar article article article article article article"
  "sidebar sidebar article article article article article article"
  "footer footer footer footer footer footer footer footer"; */
  /* grid-area: ; */
  gap: 15px;
  grid-template-columns: 300px 900px;
  grid-template-rows: repeat(2, 300px) 1500px 300px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;
  /* grid-area:header; */
  grid-area: 1 / 1 / 2 / -1;
}

.sidebar {
  background-color: #005B94;
  /* grid-area: sidebar; */
  grid-row-start: 2;
  grid-row-end: 4;
}

.nav {
  background-color: #642cde;
  /* grid-area: nav; */
}

.article {
  background-color: #7E1DC3;
  /* grid-area: article; */
}

.footer {
  background-color: #393f4d;
  /* grid-area: footer; */
  grid-area: -1 / 1 / -2 / -1;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}